.features {
	display: flex;
	align-items: center;
	padding: 2rem 0;
	width: 100%;
}

.dot {
	background-color: var(--ifm-color-primary);
	border-radius: 100px;
	height: 30px;
	width: 30px;
	margin: 30px auto 30px auto;
}
